.users{
    margin: 2rem auto;
    width:75%;
    margin-left:150px;
    background-color: white;

}
.users ul{
    list-style: none;
    padding: 0.1rem;
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}
.users li{
    border:1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
    margin-top: 1px;
}